<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="shortcut icon" href="#">
    <script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
</head>

<body>
    {{!-- <header> --}}
        <nav>
        <!-- the link will be change to a pic -->
        <ul>
            <li class="none">
                <a href="/" class="icon"><img id="navbar-logo" src="https://i.ibb.co/dg79ZST/htw.png" alt="hoboken teens work logo"></a>
            </li>
        </ul>
        {{#if hideLogin}}
        {{else}}
        {{#if login}}
        <h1>User Status : Logged in</h1>
        <a class="homepageLoginAndSignup" href="/user/{{loginUserData.id}}">{{loginUserData.fullName}}</a><br><br>
        <a class="homepageLoginAndSignup" href="/logout">Click to logout</a>
        {{else}}
        <p>User Status : Not logged in</p>
        <div>
              <a class="homepageLoginAndSignup" href="/login">Login</a>
               <a class="homepageLoginAndSignup" href="/register">Sign Up</a>

        </div>
        {{/if}}
        {{/if}}
    </nav>
    {{{body}}}

    <br><br>
    <footer class="footerText">
        <p>© Hoboken Teens Work 2022</p>
        <a href="/about" >About us</a>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>

</html>