<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <nav>
        <!-- the link will be change to a pic -->
        <li class="none">
            <a href="/" class="homepageLoginAndSignup">Homepage</a>
        </li>
        {{#if hideLogin}}
        {{else}}
        {{#if login}}
        <p>current status: Logged in</p>
        <a href="/user/{{loginUserData.id}}">{{loginUserData.fullName}}</a><br></br>
        <a href="/logout">Click to logout</a>
        {{else}}
        <p>current status: Not logged in</p>
        <li class="none">
            <a class="homepageLoginAndSignup" href="/login">Login</a>
        </li>
        <li class="none">
            <a class="homepageLoginAndSignup" href="/register">Sign Up</a>
        </li>
        {{/if}}
        {{/if}}
    </nav>
    {{{body}}}

    <br><br>
    <footer>
        <a href="/about">Link to team introduction</a>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
</body>

</html>