<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="shortcut icon" href="#">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/
    4.0.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/
    jquery/3.3.1/jquery.min.js">
    </script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/
    popper.js/1.12.9/umd/popper.min.js">
    </script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/
    4.0.0/js/bootstrap.min.js">
    </script>
</head>

<body>
    <header>
        <nav>
        <!-- the link will be change to a pic -->
        <ul>
            <li class="none">
                <a href="/" class="icon"><svg xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="100" zoomAndPan="magnify"
                        viewBox="0 0 375 374.999991" height="100" preserveAspectRatio="xMidYMid meet" version="1.0">
                        <defs>
                            <g />
                        </defs>
                        <rect x="-37.5" width="450" fill="#ffffff" y="-37.499999" height="449.999989"
                            fill-opacity="1" />
                        <rect x="-37.5" width="450" fill="#ffffff" y="-37.499999" height="449.999989"
                            fill-opacity="1" />
                        <rect x="-37.5" width="450" fill="#222831" y="-37.499999" height="449.999989"
                            fill-opacity="1" />
                        <g fill="#00adb5" fill-opacity="1">
                            <g transform="translate(28.475249, 100.499993)">
                                <g>
                                    <path
                                        d="M 34.738281 0 L 34.738281 -42.824219 L 26.175781 -42.824219 L 26.175781 -25.695312 L 13.355469 -25.695312 L 13.355469 -42.824219 L 4.792969 -42.824219 L 4.792969 0 L 13.355469 0 L 13.355469 -17.128906 L 26.175781 -17.128906 L 26.175781 0 Z M 34.738281 0 " />
                                </g>
                            </g>
                        </g>
                        <g fill="#eeeeee" fill-opacity="1">
                            <g transform="translate(71.893214, 100.499993)">
                                <g>
                                    <path
                                        d="M 25.394531 0.597656 C 54.863281 0.597656 54.863281 -43.542969 25.394531 -43.542969 C -4.074219 -43.542969 -4.074219 0.597656 25.394531 0.597656 Z M 25.394531 -8.265625 C 8.265625 -8.265625 8.265625 -34.738281 25.394531 -34.738281 C 42.527344 -34.738281 42.527344 -8.265625 25.394531 -8.265625 Z M 25.394531 -8.265625 " />
                                </g>
                            </g>
                        </g>
                        <g fill="#eeeeee" fill-opacity="1">
                            <g transform="translate(126.45725, 100.499993)">
                                <g>
                                    <path
                                        d="M 4.792969 0 L 21.742188 0 C 28.691406 0 34.378906 -5.691406 34.378906 -12.878906 C 34.378906 -16.230469 32.761719 -19.527344 29.949219 -21.441406 C 32.644531 -23.300781 33.78125 -26.652344 33.902344 -29.886719 C 34.082031 -37.433594 29.347656 -42.886719 21.742188 -42.886719 L 4.792969 -42.886719 Z M 13.417969 -34.320312 L 21.023438 -34.320312 C 23.480469 -34.320312 24.976562 -32.402344 24.976562 -30.007812 C 24.976562 -27.671875 23.480469 -25.695312 21.023438 -25.695312 L 13.417969 -25.695312 Z M 13.417969 -17.128906 L 21.023438 -17.128906 C 23.480469 -17.128906 25.335938 -15.273438 25.335938 -12.878906 C 25.335938 -10.480469 23.480469 -8.566406 21.023438 -8.566406 L 13.417969 -8.566406 Z M 13.417969 -17.128906 " />
                                </g>
                            </g>
                        </g>
                        <g fill="#eeeeee" fill-opacity="1">
                            <g transform="translate(167.485146, 100.499993)">
                                <g>
                                    <path
                                        d="M 25.394531 0.597656 C 54.863281 0.597656 54.863281 -43.542969 25.394531 -43.542969 C -4.074219 -43.542969 -4.074219 0.597656 25.394531 0.597656 Z M 25.394531 -8.265625 C 8.265625 -8.265625 8.265625 -34.738281 25.394531 -34.738281 C 42.527344 -34.738281 42.527344 -8.265625 25.394531 -8.265625 Z M 25.394531 -8.265625 " />
                                </g>
                            </g>
                        </g>
                        <g fill="#eeeeee" fill-opacity="1">
                            <g transform="translate(222.049187, 100.499993)">
                                <g>
                                    <path
                                        d="M 4.792969 0 L 13.355469 0 L 13.355469 -16.769531 L 24.738281 0 L 35.339844 0 L 20.246094 -21.683594 L 34.140625 -42.824219 L 24.136719 -42.824219 L 13.355469 -25.753906 L 13.355469 -42.824219 L 4.792969 -42.824219 Z M 4.792969 0 " />
                                </g>
                            </g>
                        </g>
                        <g fill="#eeeeee" fill-opacity="1">
                            <g transform="translate(262.058874, 100.499993)">
                                <g>
                                    <path
                                        d="M 26.953125 0 L 26.953125 -8.566406 L 13.355469 -8.566406 L 13.355469 -17.128906 L 24.617188 -17.128906 L 24.617188 -25.695312 L 13.355469 -25.695312 L 13.355469 -34.261719 L 26.234375 -34.261719 L 26.234375 -42.824219 L 4.792969 -42.824219 L 4.792969 0 Z M 26.953125 0 " />
                                </g>
                            </g>
                        </g>
                        <g fill="#eeeeee" fill-opacity="1">
                            <g transform="translate(296.079112, 100.499993)">
                                <g>
                                    <path
                                        d="M 13.355469 -23.300781 L 35.039062 0.898438 L 37.316406 0.898438 L 37.316406 -42.765625 L 28.691406 -42.765625 L 28.691406 -18.566406 L 7.066406 -43.722656 L 4.792969 -43.722656 L 4.792969 0 L 13.355469 0 Z M 13.355469 -23.300781 " />
                                </g>
                            </g>
                        </g>
                        <g fill="#00adb5" fill-opacity="1">
                            <g transform="translate(28.475249, 202.499987)">
                                <g>
                                    <path
                                        d="M 20.425781 0 L 20.425781 -34.261719 L 31.085938 -34.261719 L 31.085938 -42.765625 L 1.199219 -42.765625 L 1.199219 -34.261719 L 11.859375 -34.261719 L 11.859375 0 Z M 20.425781 0 " />
                                </g>
                            </g>
                        </g>
                        <g fill="#f4f6fc" fill-opacity="1">
                            <g transform="translate(65.061184, 202.499987)">
                                <g>
                                    <path
                                        d="M 26.953125 0 L 26.953125 -8.566406 L 13.355469 -8.566406 L 13.355469 -17.128906 L 24.617188 -17.128906 L 24.617188 -25.695312 L 13.355469 -25.695312 L 13.355469 -34.261719 L 26.234375 -34.261719 L 26.234375 -42.824219 L 4.792969 -42.824219 L 4.792969 0 Z M 26.953125 0 " />
                                </g>
                            </g>
                        </g>
                        <g fill="#f4f6fc" fill-opacity="1">
                            <g transform="translate(99.081428, 202.499987)">
                                <g>
                                    <path
                                        d="M 26.953125 0 L 26.953125 -8.566406 L 13.355469 -8.566406 L 13.355469 -17.128906 L 24.617188 -17.128906 L 24.617188 -25.695312 L 13.355469 -25.695312 L 13.355469 -34.261719 L 26.234375 -34.261719 L 26.234375 -42.824219 L 4.792969 -42.824219 L 4.792969 0 Z M 26.953125 0 " />
                                </g>
                            </g>
                        </g>
                        <g fill="#f4f6fc" fill-opacity="1">
                            <g transform="translate(133.101673, 202.499987)">
                                <g>
                                    <path
                                        d="M 13.355469 -23.300781 L 35.039062 0.898438 L 37.316406 0.898438 L 37.316406 -42.765625 L 28.691406 -42.765625 L 28.691406 -18.566406 L 7.066406 -43.722656 L 4.792969 -43.722656 L 4.792969 0 L 13.355469 0 Z M 13.355469 -23.300781 " />
                                </g>
                            </g>
                        </g>
                        <g fill="#f4f6fc" fill-opacity="1">
                            <g transform="translate(179.100796, 202.499987)">
                                <g>
                                    <path
                                        d="M 2.816406 -2.753906 C 8.625 0.238281 13.957031 0.539062 16.351562 0.359375 C 24.378906 -0.0585938 29.289062 -5.511719 29.289062 -12.636719 C 29.289062 -19.464844 23.539062 -23.300781 16.890625 -25.753906 C 14.433594 -26.59375 12.339844 -27.671875 12.097656 -30.066406 C 11.917969 -32.464844 13.296875 -34.679688 16.351562 -34.859375 C 17.667969 -34.917969 20.363281 -34.980469 25.097656 -33.0625 L 26.175781 -41.328125 C 20.664062 -43.246094 17.730469 -43.246094 15.511719 -43.125 C 8.386719 -42.765625 3.414062 -37.253906 3.414062 -30.066406 C 3.414062 -22.878906 9.402344 -19.464844 16.113281 -17.011719 C 18.507812 -16.171875 20.363281 -15.09375 20.542969 -12.636719 C 20.785156 -10.300781 18.628906 -8.503906 16.113281 -8.324219 C 14.136719 -8.144531 8.804688 -8.265625 3.894531 -11.738281 Z M 2.816406 -2.753906 " />
                                </g>
                            </g>
                        </g>
                        <g fill="#00adb5" fill-opacity="1">
                            <g transform="translate(28.475249, 304.49998)">
                                <g>
                                    <path
                                        d="M 17.910156 0.898438 L 19.40625 0.898438 L 27.191406 -18.269531 L 35.039062 0.71875 L 36.597656 0.71875 L 54.085938 -42.824219 L 44.441406 -42.824219 L 35.816406 -20.964844 L 27.433594 -42.40625 L 27.011719 -42.40625 L 18.628906 -20.964844 L 10.003906 -42.824219 L 0.359375 -42.824219 Z M 17.910156 0.898438 " />
                                </g>
                            </g>
                        </g>
                        <g fill="#eeeeee" fill-opacity="1">
                            <g transform="translate(86.811182, 304.49998)">
                                <g>
                                    <path
                                        d="M 25.394531 0.597656 C 54.863281 0.597656 54.863281 -43.542969 25.394531 -43.542969 C -4.074219 -43.542969 -4.074219 0.597656 25.394531 0.597656 Z M 25.394531 -8.265625 C 8.265625 -8.265625 8.265625 -34.738281 25.394531 -34.738281 C 42.527344 -34.738281 42.527344 -8.265625 25.394531 -8.265625 Z M 25.394531 -8.265625 " />
                                </g>
                            </g>
                        </g>
                        <g fill="#eeeeee" fill-opacity="1">
                            <g transform="translate(141.375218, 304.49998)">
                                <g>
                                    <path
                                        d="M 26.113281 0 L 35.816406 0 L 25.875 -17.667969 C 38.453125 -21.324219 36.957031 -42.824219 21.683594 -42.824219 L 4.792969 -42.824219 L 4.792969 0 L 13.355469 0 L 13.355469 -16.351562 L 17.488281 -16.351562 Z M 13.355469 -24.675781 L 13.355469 -34.261719 L 20.902344 -34.261719 C 26.714844 -34.261719 26.714844 -24.675781 20.902344 -24.675781 Z M 13.355469 -24.675781 " />
                                </g>
                            </g>
                        </g>
                        <g fill="#eeeeee" fill-opacity="1">
                            <g transform="translate(181.92395, 304.49998)">
                                <g>
                                    <path
                                        d="M 4.792969 0 L 13.355469 0 L 13.355469 -16.769531 L 24.738281 0 L 35.339844 0 L 20.246094 -21.683594 L 34.140625 -42.824219 L 24.136719 -42.824219 L 13.355469 -25.753906 L 13.355469 -42.824219 L 4.792969 -42.824219 Z M 4.792969 0 " />
                                </g>
                            </g>
                        </g>
                    </svg></a>
            </li>
        </ul>
        {{#if hideLogin}}
        {{else}}
        {{#if login}}
        <p>User Status : Logged in</p>
        <a href="/user/{{loginUserData.id}}">{{loginUserData.fullName}}</a><br><br>
        <a href="/logout">Click to logout</a>
        {{else}}
        <p>User Status : Not logged in</p>
        <div>
              <a class="homepageLoginAndSignup" href="/login">Login</a>
               <a class="homepageLoginAndSignup" href="/register">Sign Up</a>

        </div>
        {{!-- <li class="none">
            <a class="homepageLoginAndSignup" href="/login">Login</a>
        </li>
        <li class="none">
            <a class="homepageLoginAndSignup" href="/register">Sign Up</a>
        </li> --}}
        {{/if}}
        {{/if}}
    </nav>
    {{{body}}}

    <br><br>
    <footer class="footerText">
        <p>© Hoboken Teens Work 2022</p>
        <a href="/about" >About</a>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
    {{!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> --}}
</body>

</html>