<meta name="authorId" content="{{loginUserData.id}}" />
<meta name="jobId" content="{{jobDetail._id}}" />

<h1>{{jobDetail.jobTitle}}</h1>

<p>{{jobDetail.jobDescription}}</p>

<p>Status: <p id="jobStatusMsg">{{jobDetail.jobStatus}}</p> <button onclick="changeStatus('{{jobDetail._id}}','{{jobDetail.jobStatus}}')">Change Status</button></p>

<a href="/job/{{jobDetail._id}}/editJob">Edit job</a>

<h2>Applicants</h2>

<ul id="applicants-list" class="applicants-list">
  {{#each jobDetail.applicants}}
    <li>
      <a href="/user/{{applicantId}}">{{name}}</a> 
      <a class="download-resume" href="/file/download/{{resume}}"><button>Click to Download Resume</button></a>
      {{#if hired}}
        <button class="fire-button" onclick='fire(this,"{{applicantId}}")'>Fire!</button>
      {{else}}
        <button class="hire-button" onclick='hire(this,"{{applicantId}}")'>Hire</button>
      {{/if}}
    </li>
  {{/each}}
</ul>


<script src="/public/js/jobPosterOperations.js"></script>