<meta name="authorId" content="{{loginUserData.id}}" />
<meta name="jobId" content="{{jobDetail._id}}" />

<h1>{{jobDetail.jobTitle}}</h1>

<p>{{jobDetail.jobDescription}}</p>

<p>Status: <p id="jobStatus">{{jobDetail.jobStatus}}</p> <button onclick="changeStatus('{{jobDetail._id}}')">Change Status</button></p>

<a href="/job/{{jobDetail._id}}/editJob">Edit job</a>

<h2>Applicants</h2>

<ul>
  {{#each jobDetail.applicants}}
    <li>
      <a href="/user/{{applicantId}}">{{name}}</a> <a href="/file/download/{{resume}}"><button>Click to Download Resume</button></a>
      {{#if hired}}
        <button id="fire-button" onclick='fire(this,"{{applicantId}}")'>Fire!</button>
      {{else}}
        <button id="fire-button" onclick='fire(this,"{{applicantId}}")' style="display: none;">Fire!</button>
        <button id="hire-button" onclick='hire("{{applicantId}}")'  >Hire</button>
      {{/if}}
    </li>
  {{/each}}
</ul>
<script src="/public/js/jobPosterOperations.js"></script>