<div>
    <h4 style=" display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;">{{#if presetJob}}Edit Job{{else}}Create Job{{/if}}</h4>
</div>
<div class="container">
    {{#if presetJob}}
      <form action="/job/{{presetJob._id}}/editJob" method="post">
    {{else}}
      <form action="/job/createJob" method="post">
    {{/if}}
    <div class="row">
      <div class="col-25">
        <label for="jobTitle">Job Title</label>
      </div>
      <div class="col-75">
        <input type="text" id="jobTitle" name="jobTitle" placeholder="Enter Job Title" value="{{presetJob.jobTitle}}">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="jobDescription">Job Description</label>
      </div>
      <div class="col-75">
        <input type="text" id="jobDescription" name="jobDescription" placeholder="Enter Job Description" value="{{presetJob.jobDescription}}" >
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="jobStreetName">Job Street Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="jobStreetName" name="jobStreetName" placeholder="Enter Job Street Name" value="{{presetJob.jobStreetName}}" >
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="phone">Phone Number</label>
      </div>
      <div class="col-75">
        <input type="text" id="phone" name="phone" placeholder="Enter phone number" value="{{presetJob.jobAuthor.phone}}" >
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <input  type="submit" value="Submit">
    </div>
    <select name="street" id="street-dropdown">
      <option value="10th St">10th St</option>
      <option value="11th St">11th St</option>
      <option value="12th St">12th St</option>
      <option value="13th St">13th St</option>
      <option value="14th St">14th St</option>
      <option value="15th St">15th St</option>
      <option value="16th St">16th St</option>
      <option value="1st St">1st St</option>
      <option value="2nd St">2nd St</option>
      <option value="3rd St">3rd St</option>
      <option value="4th St">4th St</option>
      <option value="5th St">5th St</option>
      <option value="6th St">6th St</option>
      <option value="7th St">7th St</option>
      <option value="8th St">8th St</option>
      <option value="9th St">9th St</option>
      <option value="Adams St">Adams St</option>
      <option value="Bloomfield St">Bloomfield St</option>
      <option value="Castle Point Ter">Castle Point Ter</option>
      <option value="Church Twrs">Church Twrs</option>
      <option value="Clinton St">Clinton St</option>
      <option value="Constitution St">Constitution St</option>
      <option value="Court St">Court St</option>
      <option value="Elysian Park">Elysian Park</option>
      <option value="Firehouse Plz">Firehouse Plz</option>
      <option value="Garden St">Garden St</option>
      <option value="Grand St">Grand St</option>
      <option value="Harrison St">Harrison St</option>
      <option value="Henderson St">Henderson St</option>
      <option value="Hudson PI">Hudson PI</option>
      <option value="Hudson St">Hudson St</option>
      <option value="Independence Ct">Independence Ct</option>
      <option value="Jackson St">Jackson St</option>
      <option value="Jefferson St">Jefferson St</option>
      <option value="Madison St">Madison St</option>
      <option value="Marine View Plz">Marine View Plz</option>
      <option value="Marshall Dr">Marshall Dr</option>
      <option value="Marshall St">Marshall St</option>
      <option value="Maxwell Ln">Maxwell Ln</option>
      <option value="Monroe St">Monroe St</option>
      <option value="Newark St">Newark St</option>
      <option value="Observer Hwy">Observer Hwy</option>
      <option value="Park Ave">Park Ave</option>
      <option value="Paterson Ave">Paterson Ave</option>
      <option value="River St">River St</option>
      <option value="Shipyard Ln">Shipyard Ln</option>
      <option value="Sinatra Dr">Sinatra Dr</option>
      <option value="Washington St">Washington St</option>
      <option value="Willow Ave">Willow Ave</option>
      <option value="Willow Ter">Willow Ter</option>
    </select>
  </form>
</div>
<p>Error msg:{{errmsg}}</p>
