<h1 class="IndividualJobsH1">Job detail</h1> 
<button  class="Share-Btn"  id="shareJob" value="{{jobId}}">Share</button>
{{#if isMinor}}
{{#if saved}}
    <button class="Share-Btn" onclick='saveJob(this,"{{jobDetail._id}}", true)'>Saved!</button>
{{else}}
    <button class="Share-Btn" onclick='saveJob(this,"{{jobDetail._id}}", false)'>Save This Job</button>
{{/if}}
{{/if}}
<div class="individualJobs row">





<p class="job-title">{{jobDetail.jobTitle}}</p>
<p class="job-description">{{jobDetail.jobDescription}}</p>
<p class="job-status">Status: {{jobDetail.jobStatus}}</p>
<p class="job-tag">Tag: {{jobDetail.jobTag}}</p>
<p class="job-street-address">Street address      :    {{jobDetail.jobStreetName}}</p>
<p class="job-author-label">Published by        :    <a class="job-author" href="/user/{{jobDetail.jobAuthor.id}}">{{jobDetail.jobAuthor.name}}</a></p> 
<p class="job-author-phone">Contact :    {{jobDetail.jobAuthor.phone}}</p>





</div>
<div class="comments">
<p>Comments:</p>
<ul id="comment-list">
    {{#each jobDetail.comments}}
    <li class="comment-listLi">
        <p>By: <a href="/user/{{authorId}}">{{name}}</a></p>
        <p>{{comment}}</p>
        <p>On: {{commentDate}}</p>
        <br>
    </li>
    {{/each}}
</ul>
</div>
<br>
{{#if login}}
    <div>
        <form method="post" id="add-comment">
            <label for="comment" class="label-comment">Leave a comment: </label>
            <input type="text" class="enter-comment" id="comment" name="comment" />
            <input type="text" class="value-block" id="jobId" name="comment" value="{{jobDetail._id}}" />
            <br>
            <button type="submit" form="add-comment" value="submit" class="submitComment">Submit</button>
            <div class="form-group hidden" id="error-container">
		    <div class="alert alert-danger text-goes-here"></div>
		    </div>
        </form><br><br>
    </div>
    {{#if isMinor}}
    <div>
        {{#if isAvaliable}}
        {{#if applied}}
            <div class="comments">
                <p>You have posted your Application!.</p>
            </div>
        {{else}}
            <div class="comments">
                <form id="resumeUpload" action="/file/upload" enctype="multipart/form-data" method="post">
                    <p>Upload your Resume and Apply! </p>
                    <p>(File need to be Pdf file and less than 4MB)</p>
                    <input type="file" id="resume" name="resume" accept="application/pdf"/>
                    <span id="resumeError"></span>
                    <button id="applyJobButton" class="value-block">Upload</button>
                    <br>
                    {{!-- <div class="form-group hidden" id="error-container">
		                <div class="alert alert-danger text-goes-here"></div>
		            </div> --}}
                </form>
            </div>
        {{/if}}
        {{/if}}
    </div>
    {{/if}}
{{/if}}

<p id="value-userId" class="value-block">{{loginUserData.id}}</p>
<p id="value-jobId" class="value-block">{{jobDetail._id}}</p>

<script src="/public/js/jobOperations.js"></script>
<script src="/public/js/commentsValidation.js"></script>
<script src="/public/js/resumeValidation.js"></script>