<h1>Job detail</h1>
<p>jobTitle : {{jobDetail.jobTitle}}</p>
<p>jobDescription: {{jobDetail.jobDescription}}</p>
<p>jobStreetName : {{jobDetail.jobStreetName}}</p>
<p>jobStatus : {{jobDetail.jobStatus}}</p>
<p>Publish by: <a href="/user/{{jobDetail.jobAuthor.id}}">{{jobDetail.jobAuthor.name}}</a></p> 
<p>Contact Phone Number: {{jobDetail.jobAuthor.phone}}</p>
<p>Comments:</p>
<ul id="comment-list">
    {{#each jobDetail.comments}}
    <li>
        <p>By: <a href="/id/{{authorId}}">{{name}}</a></p>
        <p>{{comment}}</p>
        <p>On: {{commentDate}}</p>
    </li>
    {{/each}}
</ul>

{{#if login}}
<form action="/addComment" method="post" id="add-comment">
    <label for="comment">Leave a comment: </label>
    <input type="text" id="comment" name="comment" />
    <input type="text" id="jobId" name="comment" value="{{jobDetail._id}}" style="display: none;"/>
    <input type="submit" value="submit">
</form><br></br>

{{#if saved}}
<button id="save-job-saved" onclick='saveJob("{{jobDetail._id}}", true)' >Saved!</button>
<button id="save-job-unsave" onclick='saveJob("{{jobDetail._id}}", false)' style="display: none;" >Save This Job</button>
{{else}}
<button id="save-job-saved" onclick='saveJob("{{jobDetail._id}}", true)' style="display: none;">Saved!</button>
<button id="save-job-unsave" onclick='saveJob("{{jobDetail._id}}", false)' >Save This Job</button>
{{/if}}

{{#if jobDetail.jobStatus}}
    <form action="/user/applyJob">
        <p>Upload your Resume</p>
        <input type="file" id="resume" name="resume">
        <input type="submit">
    </form>
{{/if}}
{{/if}}
<script src="/public/js/jobOperations.js"></script>