{{#if login}}
{{#if selfReview}}
<h1 class="UserH1">You are logged in</h1>
{{/if}}
{{/if}}
<div class="personDetails">
    <p>Name: {{curUser.firstName}} {{curUser.lastName}}</p>
    <p>Email: {{curUser.email}}</p>
    <p>Age: {{curUser.age}}</p>
    <p>Phone: {{curUser.phone}}</p>
</div>

{{#if adultUser}}
    {{#if login}}
        <div class="postJob"></div>
        <p>job posted:</p>
            {{#each curUser.jobsPosted}}
                <li>
                    <a href="/job/{{id}}">{{jobTitle}}</a>  
                    {{#if selfReview}}
                        <button onclick='deleteJob(this,"{{id}}")'>Delete</button>
                    {{/if}}
                </li>
            {{/each}}
        </div>
    {{/if}}
    {{else}}
    {{#if selfReview}}
        {{#if login}}
        <div class="jobsHired">
            <p>Hired jobs:</p>
            {{#each curUser.hiredForJobs}}
                <li>
                    <a href="/job/{{id}}">{{jobTitle}}</a>
                </li>
            {{/each}}
            <a href="/user/{{curUser._id}}/savedJob">Check Saved Jobs</a> 
			<a href="/user/{{curUser._id}}/appliedJob">Check Applied Jobs</a>
        </div>
        {{/if}}
    {{/if}}
{{/if}}

{{#if login}}
{{#if selfReview}}
	<div class="editProfileButton">
		<a class="editProfile" href="/user/{{curUser._id}}/editUser">Edit Profile</a>
        {{#if adultUser}}
        <a class="editProfile" href="/job/createJob">Post a Job!</a>
        {{/if}} 
	</div>
{{/if}}
{{/if}}
<script src="/public/js/userOperations.js"></script>