{{#if login}}
{{#if selfReview}}
<h1 class="UserH1">You are logged in</h1>
{{/if}}
{{/if}}
<div class="personDetails">
    <p>Name: {{curUser.firstName}} {{curUser.lastName}}</p>
    <p>Email: {{curUser.email}}</p>
    <p>Age: {{curUser.age}}</p>
    <p>Phone: {{curUser.phone}}</p>
</div>

{{#if adultUser}}
    {{#if login}}
        <div class="postJob">
        <p class="postJobs">Jobs Posted:</p>
            {{#if selfReview}}
                <ul class="list-button-ul">
                {{#each curUser.jobsPosted}}               
                    <li class="list-button-li">
                        <a class="list-button-link" href="/job/{{id}}">{{jobTitle}}</a>  <button onclick='deleteJob(this,"{{id}}")'>Delete</button>
                    </li>
                {{/each}}
                </ul>
            {{else}}
            <ul class="ulJobs">
                {{#each curUser.jobsPosted}}
                    <li>
                        <a href="/job/{{id}}">{{jobTitle}}</a>  
                    </li>
                {{/each}}
            </ul>
            {{/if}}
        </div>
    {{/if}}
    {{else}}
    {{#if selfReview}}
        {{#if login}}
        <div class="editProfileButton">
            <a class="editProfile" href="/user/{{curUser._id}}/savedJob">Check Saved Jobs</a> 
		    <a class="editProfile" href="/user/{{curUser._id}}/appliedJob">Check Applied Jobs</a>
        </div>
        <div class="comments">
            <p>Hired jobs:</p>
            {{#each curUser.hiredForJobs}}
                <li class="comments-list">
                    <a href="/job/{{id}}">{{title}}</a>
                </li>
            {{/each}}    
        </div>
        {{/if}}
    {{/if}}
{{/if}}

{{#if login}}
{{#if selfReview}}
	<div class="editProfileButton">
		<a class="editProfile" href="/user/{{curUser._id}}/editUser">Edit Profile</a>
        {{#if adultUser}}
        <a class="editProfile" href="/job/createJob">Post a Job!</a>
        {{/if}} 
	</div>
{{/if}}
{{/if}}
<script src="/public/js/userOperations.js"></script>