{{#if login}}
{{#if selfReview}}
<h1>you had logged in</h1>
{{/if}}
{{/if}}

<p>name: {{curUser.firstName}} {{curUser.lastName}}</p>
<p>email: {{curUser.email}}</p>
<p>age: {{curUser.age}}</p>
<p>phone: {{curUser.phone}}</p>

{{#if adultUser}}
    <p>job posted:</p>
    {{#if login}}
        {{#if selfReview}}
            {{#each curUser.jobsPosted}}
                <li>
                    <a href="/job/{{id}}">{{jobTitle}}</a>  <button onclick='deleteJob(this,"{{id}}")'>Delete</button>
                </li>
            {{/each}}
            <a href="/job/createJob">Post a Job!</a>
            <p>job Hired:</p>
            {{#each curUser.jobsHired}}
                <li>
                    <a href="/job/{{jobId}}">{{jobTitle}}</a>
                    <a herf="/user/{{hiredUserId}}">{{hiredUserName}}</a>
                </li>
            {{/each}}
        {{else}}
            {{#each curUser.jobsPosted}}
                <li>
                    <a href="/job/{{id}}">{{jobTitle}}</a>
                </li>
            {{/each}}
        {{/if}}
    {{/if}}
{{else}}    
    {{#if selfReview}}
        <p>Hired jobs:</p>
        {{#each curUser.hiredForJobs}}
            <li>
                <a href="/job/{{id}}">{{jobTitle}}</a>
            </li>
        {{/each}}
    {{/if}}
{{/if}}
<script src="/public/js/userOperations.js"></script>